.col-1  { width: 8.33%; }
.col-2  { width: 16.67%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.67%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.67%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.67%; }
.col-12 { width: 100%; }
/* navbar start */
.nav-logo{
    text-align: left;
}

.nav-heading h1{
    text-align: right;
    margin: 25px 10px;
    padding: 1px;
}

.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.nav-menu a{
    padding: 10px 10px;
    margin: 30px 5px;
    background-color: transparent;
}
/* end navbar */

/* profile design start */
.profile .top-weather-icon{
    right:120px;
    top: 20px;
    width: 150px;
    border-radius: 50%;
    transition: width 2s, transform 2s;
}
.profile .top-weather-icon:hover{
    width: 180px;
    top: 10px;
}

.profile-description p{
    color: gray;
     margin: 0 auto ;
    text-align: center;
    width: 65%;
    text-align: cen;
}
/* profile design end */

/* about design start */
.about-image{
    margin-top: 40px;
}

.about-image img{
    height: 270px;
    width: 250px;
}
.about-description p{
    text-align: left;
}
/* about end */

/*  professional experience start  */

    /*  professional experience start  */

     /* achievement start */
    .achievement{
        padding-right: 50px;
    }
    .contact button{
        
         width: 150px;
    }
     /* achievement end */